[user]
	email = kchs.tw@gmail.com
	name  = ASaHsieh
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
	st    = status
	ci    = commit
	co    = checkout
	ad    = add
    br 	  = branch
	lg 	  = log
	graph = gh
	df    = diff
